body {
  font-family: "Arial", sans-serif;
  background-color: white;
  color: black;
  transition: background-color 0.3s, color 0.3s;
  margin: 0;
  height: 100%;
}

main {
  min-height: 100vh;
 
}

.light-mode {
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: rgb(52, 58, 64);
  color: white;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Georgia", serif;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}

a:hover {
  color: #ff6347;
}

.container {
  width: 90%;
  margin: 0 auto;
}

ul {
  padding: 0;
  list-style: none;
}


