.category-container {
  overflow-x: hidden;
  white-space: nowrap;
  padding: 50px;
  margin: 0 auto;
}

.category-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.category-item {
  margin-right: 20px;
  text-align: center;
  margin: 0 15px;
  display: inline-block;
}

.category-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 22px;
}

.category-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 10px;
}

h4,
h5 {
  margin: 5px 0;
  color: #555;
}

.title {
  color: #ff6f61;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.dark-mode h5 {
  color: #ccc;
}

.dark-mode .title {
  color: #ff6f61;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.1);
}
